body{

font-family:Arial;
background:#f4f6f9;
padding:30px;
max-width:1000px;
margin:auto;

}

h1{

text-align:center;

}

button{

padding:8px 14px;
margin:5px;
border:none;
border-radius:6px;
background:#2563eb;
color:white;
cursor:pointer;

}

button:hover{

background:#1d4ed8;

}

input{

padding:8px;
margin:5px;

}

table{

width:100%;
border-collapse:collapse;
background:white;

}

th{

background:#1f2937;
color:white;
padding:10px;

}

td{

padding:10px;
border-bottom:1px solid #ddd;

}

.verde{

color:green;
font-weight:bold;

}

.rojo{

color:red;
font-weight:bold;

}

#log{

background:white;
border:1px solid #ddd;
padding:10px;
height:150px;
overflow:auto;

}

canvas{

background:white;
margin-top:10px;
}